/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/


/***************
    GENERAL
***************/
html,
body {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

button {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    border: none;
    border-radius: 35px;
}

button:hover {
    -webkit-box-shadow: 1px 1px 4px #cccccc;
            box-shadow: 1px 1px 4px #cccccc;
}

img {
    -o-object-fit: contain;
       object-fit: contain;
}

.white-button {
    background-color: #ffffff;
    padding: 15px 60px;
}


.pink-button {
    color: #ffffff;
    background-color: hsl(322, 100%, 66%);
    padding: 20px 55px;
}

button,
section,
.cta {
    -webkit-box-shadow: 1px 1px 10px #ccc;
            box-shadow: 1px 1px 10px #ccc;
}

/***************
    NAV
***************/
nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: transparent;
    margin: 0 25px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}



/***************
    HEADER
***************/

header {
    background: url(../images/bg-hero-desktop.svg);
    background-color: hsl(193, 100%, 96%);
    padding: 50px;
}

/***************
    HERO
***************/
.hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 50px 25px;
    max-height: 80vh;
}

.hero-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.hero-text p,
.hero-text h1 {
    max-width: 450px;
}

.hero-text p {
    margin-bottom: 35px;
}

.hero-text button {
    max-width: 250px;
}

.hero-image img {
    float: right;
    width: 75%;
    height: 75%;

}



/***************
    MAIN
***************/

main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

/***************
    SECTION
***************/
section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 15px;
    margin: 25px auto;
    padding: 25px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 1200px;
    width: 80vw;
}

.section-1 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}

.section-1 img {
    float: right;
}

.section-2 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
}

.section-text {
    margin: 5%;
}

.section-text p {
    max-width: 450px;
    color: hsl(208, 11%, 55%);
}

.section-image img {
    width: 65%;
    height: 65%;
}


/***************
    CTA
***************/

.cta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 15px;
    width: 500px;
    padding: 25px 25px 50px 25px;
    top: 75px;
    margin: auto;
    position: relative;
    background: #ffffff;
    text-align: center;
}

.cta button {
    width: 250px;

}



/***************
    FOOTER
***************/

footer {
    padding: 125px 50px 50px 50px;
    background-color: hsl(192, 100%, 9%);
    color: hsl(193, 100%, 96%);
}

footer a {
    text-decoration: none;
    color: hsl(193, 100%, 96%);
}

footer ul li {
    list-style-type: none;
}

.footer-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 50px;

}

.footer-col {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}

.footer-col ul,
.footer-col p {
    margin-top: 0;
}

.footer-nav ul li,
.contact ul li {
    margin: 15px 0
}

.contact ul {
    max-width: 350px;
}

.contact ul li {
    padding-left: 15px;
}

.contact ul li:first-child {
    list-style-image: url("../images/icon-location.svg");
}

.contact ul li:nth-child(2) {
    list-style-image: url("../images/icon-phone.svg");
}

.contact ul li:last-child {
    list-style-image: url("../images/icon-email.svg");
}



.footer-social ul li {
    display: inline;
    margin-right: 15px;
    text-align: left;
}

.fab {
    font-size: 24px;
}

.footer-social {
    margin-top: 15px;
}

.footer-copy {
    text-align: right;
}

.attribution {
    margin-top: 50px;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/******************
    MEDIA QUERIES
******************/

@media (min-width: 1490px) {
    .hero {
        margin-top: 100px;
    }
}

@media (max-width: 1150px) {
    .hero-text {
        font-size: .9em;
    }

    .hero-image img {
        width: 85%;
        height: 85%;
    }
}

@media (min-width: 850px) and (max-width: 970px) {
    .hero-text button {
        padding: 20px 30px;
    }

}

@media (max-width: 850px) {

    .hero,
    .hero-text,
    .hero-image,
    .section-1,
    .section-2 {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .hero,
    .hero-text,
    .hero-image {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .section-1,
    .section-2 {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
    }


    header {
        padding: 25px 10px 150px 10px;
        margin-bottom: 50px;
    }

    nav {
        margin-bottom: 30%;
        margin-top: 15px;
    }

    .hero-text {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        text-align: center;
        width: 85%;
        margin-bottom: 50px;
    }

    .hero-image {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    section {
        width: 70vw;
        text-align: center;
    }


    .section-image img {
        float: none;
        width: 85%;
        height: 85%;
    }

    .footer-content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .footer-nav ul {
        padding-left: 10px;
    }

    .footer-social {
        text-align: center;
    }
}


@media (max-width: 600px) {
    .hero {
        margin-top: 25px;
    }

    .logo-img {
        width: 156px;
        height: 26px;
    }

    .white-button {
        padding: 10px 35px;
    }

    .pink-button {
        padding: 15px 35px;
        width: 100%;
    }

    header {
        background: url(../images/bg-hero-mobile.svg);
    }

    nav {
        margin-bottom: 30%;
    }

    .cta {
        width: 90%;
        padding: 25px 0px 50px 0px;
    }

    .cta h2 {
        font-size: 1.4em;
    }

    
}